body {
  padding: 0;
  margin: 0;
  background: #a7a7a7;
  font-family: "Courier New", Courier, monospace;
}
/*--- navigation bar ---*/
.navbar {
  background: #2d2e3b;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  padding: 80;
}
.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
}
.nav-link {
  margin-right: 6em !important;
  font-size: larger;
}
.navbar-brand:hover,
.nav-link:hover {
  color: #000;
}
.navbar-collapse {
  justify-content: flex-end;
}
.header {
  background-image: url(../images/laiduri.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}
.overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 16, 107, 0.349);
}
.description {
  left: 50%;
  position: absolute;
  top: 45%;
  transform: translate(-50%, -55%);
  text-align: center;
}

.description h1 {
  color: #ffffff;
}

.description p {
  color: #fff;
  font-size: 1.3rem;
  line-height: 1.5;
}
.description button {
  border: 1px solid #2d2e3b;
  background: #2d2e3b;
  border-radius: 0;
  color: #fff;
}

.description button:hover {
  border: 1px solid #fff;
  background: #fff;
  color: #000;
}
.features {
  margin: 4em auto;
  padding: 1em;
  position: relative;
}

.feature-title {
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  background-color: #2d2e3b;
}

/*---Styling for footer links---*/
.linku,
a {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 20px;

  text-align: center;
  font-family: "Courier New", Courier, monospace;
}
.footpara {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 20px;

  text-align: center;
  font-family: "Courier New", Courier, monospace;
}
.form-title {
  color: #333;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.features img {
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  margin-bottom: 16px;
}
.footer {
  color: #2d2e3b;
  background-color: #2d2e3b;
  height: 300px;
}

@media (max-width: 575.98px) {
  .description {
    left: 0;
    padding: 0 15px;
    position: absolute;
    top: 10%;
    transform: none;
    text-align: center;
  }

  .description h1 {
    font-size: 2em;
  }

  .description p {
    font-size: 1.2rem;
  }

  .features {
    margin: 0;
    background-color: #2d2e3b;
  }
  html {
    scroll-behavior: smooth;
  }

  .logo-image {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
  }
  .row {
    padding-top: 200;
  }

  .box-area{
    padding-top: 200;
  }
}
